@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
Use the nav bar above to get started!
<div class="text-center" style="color:white">
    <h1 class="display-4">Welcome to Outlaw Baseball</h1>
    <h2 class="display-4">Use the nav bar above to get started!</h2>
</div>

<div id="carouselExample" class="carousel slide d-block w-100">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/baseball.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/batter.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/pitcher.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/field.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>